<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-3 text-white">{{tituloPagina}}</h1>
            <form class="border border-primary p-5 bg-dark">
                <div class="form-row">
                    <div class="form-group col mx-3">
                        <label for="selectorDeporte" class="text-white">Deporte(*):</label>
                        <select class="form-control" id="selectorDeporte" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoEvento.deporteId">
                        <option [ngValue]="deporte.id" *ngFor="let deporte of listaDeportes">{{deporte.nombre}}</option>
                    </select>
                    </div>

                    <div class="form-group col mx-3">
                        <label for="inputCompeticion" class="text-white">Competición(*):</label>
                        <input required id="inputCompeticion" type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoEvento.competicion">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col mx-3">
                        <label for="inputFechaInicio" class="text-white">Fecha de inicio(*):</label>
                        <input id="inputFechaInicio" type="date" class="form-control" (ngModelChange)="tipoEvento.fechaInicio=inputFechaCambiado($event)" [ngModelOptions]="{standalone: true}" [ngModel]="tipoEvento.fechaInicio| date:'yyyy-MM-dd'">
                    </div>

                    <div class="form-group col mx-3">
                        <label for="inputFechaFin" class="text-white">Fecha de finalización(*):</label>
                        <input id="inputFechaFin" type="date" class="form-control" (ngModelChange)="tipoEvento.fechaFin=inputFechaCambiado($event)" [ngModelOptions]="{standalone: true}" [ngModel]="tipoEvento.fechaFin| date:'yyyy-MM-dd'">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col mx-3">
                        <label for="inputDescripcion" class="text-white">Descripción:</label>
                        <textarea id="inputDescripcion" cols="30" rows="10" class=form-control [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoEvento.descripcion"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col mx-3">
                        <button id="btnVolver" class="btn btn-secondary" [routerLink]="['/TiposEvento']">Cancelar</button>
                        <button id="btnCrearGuardar" class="btn btn-outline-success float-right" (click)="compruebaAccion()">{{mensajeBoton}}</button>
                        <button id="btnBorrar" [disabled]="estado==='creacion'" class="btn btn-outline-danger float-right mr-2" (click)="openModal(content)">Borrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Borrado de tipo de evento</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de que quiere borrar el tipo de evento?</p>
    </div>
    <div class="modal-footer">
        <button id="btnConfirmarModal" type="button" class="btn btn-outline-success" (click)="modal.close('Launch click')">Confirmar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">Cancelar</button>
    </div>
</ng-template>