<nav class="navbar navbar-expand-lg navbar-dark border-bottom border-info">
    <a class="navbar-brand text-info" routerLink="">ApuestaThor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a id="navInicio" class="nav-item nav-link text-info font-weight-bold" routerLink="">Inicio <span class="sr-only">(current)</span></a>
            <a id="navTipoEventos" class="nav-item nav-link text-info font-weight-bold" [routerLink]="['/TiposEvento']">Tipos Eventos</a>
            <a id="navTipoApuestas" class="nav-item nav-link text-info font-weight-bold" [routerLink]="['/TiposApuesta']">Tipos Apuestas</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>