<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1>Listado de tipos de evento</h1>
            <button type="button" class="btn btn-success float-right" [routerLink]="['/TiposEvento/CrearTipoEvento']">Añadir tipo de evento</button>
        </div>
    </div>

    <div class="row">
        <div class="col table-responsive">
            <table class="table table-hover bg-light border border-primary">
                <thead class="thead-dark text-primary">
                    <tr>
                        <th class="text-primary">Deporte</th>
                        <th class="text-primary">Competicion</th>
                        <th class="text-primary">Fecha y hora de inicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tipoEvento of listaTiposEvento" routerLink="{{tipoEvento.id}}/Editar">
                        <td>{{tipoEvento.deporte.nombre}}</td>
                        <td>{{tipoEvento.competicion}}</td>
                        <td>{{tipoEvento.fechaInicio|date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>