<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1 id="tituloTipoEventos" class="text-white">Listado de tipos de evento</h1>
            <button id="btnCrearTipoEvento" type="button" class="btn btn-success float-right" [routerLink]="['/TiposEvento/CrearTipoEvento']">Añadir tipo de evento</button>
        </div>
    </div>

    <div class="row">
        <div class="col table-responsive" *ngIf="listaTiposEvento.length > 0; else listaTiposEventosEmpty">
            <table class="table table-hover table-dark border border-primary">
                <thead class="thead-dark text-primary">
                    <tr>
                        <th class="text-info">Deporte</th>
                        <th class="text-info">Competición</th>
                        <th class="text-info">Fecha de inicio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="tipoEventoRow" *ngFor="let tipoEvento of listaTiposEvento" routerLink="{{tipoEvento.id}}/Editar">
                        <td>{{tipoEvento.deporte.nombre}}</td>
                        <td>{{tipoEvento.competicion}}</td>
                        <td>{{tipoEvento.fechaInicio|date:'longDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #listaTiposEventosEmpty>
    <div class="col-sm-12 col-md-12 text-white">
        <h1 class="center">No existen tipos de evento para mostrar, añada alguno.</h1>
    </div>
</ng-template>