<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="my-3 text-white">{{tituloPagina}}</h1>
            <form class="border border-primary p-5 bg-dark">
                <div class="form-row">

                    <div class="form-group col mx-3">
                        <label for="inputDescripcion" class="text-white">Descripción(*):</label>
                        <input id="inputDescripcion" type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoApuesta.descripcion">
                    </div>

                    <div class="form-group col mx-3">
                        <label for="selectorDeporte" class="text-white">Riesgo(*):</label>
                        <select class="form-control" id="selectorDeporte" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoApuesta.riesgo">
                        <option [ngValue]="riesgo" *ngFor="let riesgo of listaRiesgo">{{riesgo}}</option>
                    </select>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col mx-3">
                        <label for="inputMultiplicador" class="text-white">Multiplicador(*):</label>
                        <input id="inputMultiplicador" type="number" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoApuesta.multiplicador">
                    </div>


                    <div class="form-group col mx-3">
                        <label for="selectorDeporteApuesta" class="text-white">Deporte(*):</label>
                        <select class="form-control" id="selectorDeporteApuesta" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoApuesta.deporteId">
                            <option [ngValue]="deporte.id" *ngFor="let deporte of listaDeportes">{{deporte.nombre}}</option>
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col mx-3">
                        <label for="inputDescripcion" class="text-white">Notas Extra:</label>
                        <textarea id="inputDescripcion" cols="30" rows="10" class=form-control [ngModelOptions]="{standalone: true}" [(ngModel)]="tipoApuesta.notasExtra"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col mx-3">
                        <button class="btn btn-secondary" [routerLink]="['/TiposApuesta']">Cancelar</button>
                        <button class="btn btn-outline-success float-right" (click)="compruebaAccion()">{{mensajeBoton}}</button>
                        <button [disabled]="estado==='creacion'" class="btn btn-outline-danger float-right mr-2" (click)="openModal(content)">Borrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Borrado de tipo de apuesta</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Está seguro de que quiere borrar el tipo de apuesta?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Launch click')">Confirmar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">Cancelar</button>
    </div>
</ng-template>